<?xml version="1.0" encoding="UTF-8"?>
<nifty xmlns="http://nifty-gui.sourceforge.net/nifty-1.3.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://nifty-gui.sourceforge.net/nifty-1.3.xsd http://nifty-gui.sourceforge.net/nifty-1.3.xsd">
    <useStyles filename="nifty-default-styles.xml" />
    <useControls filename="nifty-default-controls.xml"/>
    <style id="label">
        <attributes font="resources/fonts/arial-24-regular.fnt"/>
    </style>
    <style id="smalllabel">
        <attributes font="aurulent-sans-16.fnt"/>
    </style>
    <screen id="welcome">
        <layer childLayout="center">
            <panel childLayout="center" width="50%" height="50%">
                <effect>
                    <onStartScreen name="move" mode="in" direction="top" length="300" startDelay="100" inherit="true"/>
                    <onEndScreen name="move" mode="out" direction="bottom" length="300" startDelay="0" inherit="true"/>
                </effect>
                <text id="welcome" style="label" height="15%" width="100%"
                      backgroundColor="#4648" text="Welcome to the infinity!"
                      textHAlign="center" textVAlign="center">
                </text>
            </panel>
        </layer>
    </screen>
    <screen id="empty">
        <layer id="lTopDebug" childLayout="vertical">
            <panel childLayout="horizontal">
                <text id="tFPS" style="smalllabel" text="0" width="100%">
                </text>
            </panel>
        </layer>
    </screen>
    <screen id="keys">
        <layer childLayout="center">
            <panel childLayout="vertical" width="50%" height="80%">
                <effect>
                    <onStartScreen name="move" mode="in" direction="top" length="300" startDelay="100" inherit="true"/>
                    <onEndScreen name="move" mode="out" direction="bottom" length="300" startDelay="0" inherit="true"/>
                </effect>
                <text id="t1" style="label" height="10%" width="90%"
                      backgroundColor="#4648" text="Navigation WASD keys"
                      textHAlign="center" textVAlign="center">
                </text>
                <text id="t1.1" style="label" height="10%" width="90%"
                      backgroundColor="#4648" text="Navigation SPACE/LEFT SHIFT keys"
                      textHAlign="center" textVAlign="center">
                </text>
                <text id="t2" style="label" height="10%" width="90%"
                      backgroundColor="#4648" text="Rotation UP/DOWN/LEFT/RIGHT keys"
                      textHAlign="center" textVAlign="center">
                </text>
                <text id="t3" style="label" height="10%" width="90%"
                      backgroundColor="#4648" text="Speedup key is LEFT CTRL"
                      textHAlign="center" textVAlign="center">
                </text>
                <text id="t4" style="label" height="10%" width="90%"
                      backgroundColor="#4648" text="Toggle UI key is TAB"
                      textHAlign="center" textVAlign="center">
                </text>
                <text id="t5" style="label" height="10%" width="90%"
                      backgroundColor="#4648" text="Toggle polygonmode key is P"
                      textHAlign="center" textVAlign="center">
                </text>
                <text id="t6" style="label" height="10%" width="90%"
                      backgroundColor="#4648" text="Turn optimizationmodes key is O"
                      textHAlign="center" textVAlign="center">
                </text>
                <text id="t6" style="label" height="10%" width="90%"
                      backgroundColor="#4648" text="Turn shaders key is I"
                      textHAlign="center" textVAlign="center">
                </text>
                <text id="t6" style="label" height="10%" width="90%"
                      backgroundColor="#4648" text="Turn textures key is T"
                      textHAlign="center" textVAlign="center">
                </text>
            </panel>
        </layer>
    </screen>
    <screen id="menu">
        <layer childLayout="center" backgroundColor="#3361">
            <panel childLayout="vertical" width="75%">
                <effect>
                    <onStartScreen name="move" mode="in" direction="top" length="300" startDelay="0" inherit="true"/>
                    <onEndScreen name="move" mode="out" direction="bottom" length="300" startDelay="0" inherit="true"/>
                </effect>
                <text id="t1" style="label" height="20%" width="90%"
                      backgroundColor="#4648" text="Resume Game"
                      textHAlign="center" textVAlign="center">
                </text>
                <text id="t2" style="label" height="20%" width="90%"
                      backgroundColor="#4648" text="New Game"
                      textHAlign="center" textVAlign="center">
                </text>
                <text id="t3" style="label" height="20%" width="90%"
                      backgroundColor="#4648" text="Quit Game"
                      textHAlign="center" textVAlign="center">
                </text>
                <!--<control id="input" name="textfield" width="200px" text="hello textfield"/>-->
                <control id="theButton" name="button" label="OK"/>
            </panel>
        </layer>
    </screen>
</nifty>